.four{
    width: 100%;
}
#contents10{
    width: 100%;
    text-align: left;
    vertical-align: middle;
    padding-top: 60px;
    background-image: repeating-linear-gradient(-45deg, /* ストライプ柄の角度 */
    black 0,black 2px, /* ストライプの色1 */
    transparent 2px, transparent 4px /* ストライプの色2 */
  );
  background-repeat: no-repeat;
  background-position: left bottom; /* ストライプの起点を左下にする */
  background-size: 100% 0.5em; /* ストライプの横幅・縦幅 */
  line-height:30px;
}
.en15{
    font-size:20px;
}
@media screen and (max-width: 1025px) {

}
@media screen and (max-width: 650px) {
    #contents5{
        background-size: 100% 0.25em; /* ストライプの横幅・縦幅 */
    }
}

